#################
## Eclipse
#################
syntax: glob

*.pydevproject
.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

#################
## IDEA
#################

.idea
*.iml

#################
## Java
#################

*.class

# Package Files #
*.jar
*.war
*.ear

#################
## Maven
#################

target/
*.log

############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

*.orig